In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
#import geopandas as gpd
#import folium
#from shapely.geometry import point
#from folium.plugins import MarkerCluster


%matplotlib inline

In [2]:
#pd.set_option('display.max_rows', 10)

## Imported and appended all excel files and corresponding worksheets

In [3]:
file = pd.ExcelFile('../Data/overall_statepop_clean.xlsx')
names = file.sheet_names
overall_statepop = pd.concat([file.parse(name) for name in names])
overall_statepop = overall_statepop.reset_index(drop=True)

In [4]:
file = pd.ExcelFile('../Data/overall_cocpop_clean.xlsx')
names = file.sheet_names
overall_cocpop = pd.concat([file.parse(name) for name in names])
overall_cocpop = overall_cocpop.reset_index(drop=True)

In [5]:
file = pd.ExcelFile('../Data/category_state.xlsx')
names = file.sheet_names
state_category = pd.concat([file.parse(name) for name in names])
state_category = state_category.reset_index(drop=True)
state_category

,State,Number of CoCs,Overall Homeless,Sheltered Total Homeless,Unsheltered Total Homeless,Overall Homeless Veterans,Sheltered Homeless Veterans,Unsheltered Homeless Veterans,Overall Homeless Youth,Sheltered Homeless Youth,Unsheltered Homeless Youth,Overall Homeless People in Families,Sheltered Homeless People in Families,Unsheltered Homeless People in Families,Year
0,AK,2,1949,1725,224,94,82,12,188,182,6,504,501,3,2020
1,AL,8,3351,2052,1299,329,231,98,175,103,72,854,759,95,2020
2,AR,4,2366,1093,1273,188,107,81,262,88,174,293,223,70,2020
3,AZ,3,10979,5458,5521,921,579,342,633,241,392,2699,2456,243,2020
4,CA,44,161548,47888,113660,11401,3405,7996,12172,2662,9510,25777,19642,6135,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,VT,2,1523,1373,150,119,113,6,101,87,14,613,598,15,2015
302,WA,7,19419,12298,7121,1293,886,407,1341,700,641,6893,6098,795,2015
303,WI,4,6057,5615,442,534,515,19,334,287,47,3065,2968,97,2015
304,WV,4,1835,1403,432,305,227,78,145,103,42,421,354,67,2015
305,WY,1,798,507,291,112,83,29,37,26,11,298,215,83,2015

In [6]:
file = pd.ExcelFile('../Data/category_cocpop.xlsx')
names = file.sheet_names
coc_category = pd.concat([file.parse(name) for name in names])
coc_category = coc_category.reset_index(drop=True)

In [7]:
file = pd.ExcelFile('../Data/beds_state.xlsx')
names = file.sheet_names
state_beds = pd.concat([file.parse(name) for name in names])
state_beds = state_beds.reset_index(drop=True)

In [8]:
file = pd.ExcelFile('../Data/coc_beds.xlsx')
names = file.sheet_names
coc_beds = pd.concat([file.parse(name) for name in names])
coc_beds = coc_beds.reset_index(drop=True)

In [9]:
overall_statepop

,State,Number of CoCs,Overall Homeless,Sheltered Total Homeless,Unsheltered Total Homeless,Year
0,AK,2,1949,1725,224,2020
1,AL,8,3351,2052,1299,2020
2,AR,4,2366,1093,1273,2020
3,AZ,3,10979,5458,5521,2020
4,CA,44,161548,47888,113660,2020
...,...,...,...,...,...,...
709,VT,2,1035,720,315,2007
710,WA,8,23379,16857,6522,2007
711,WI,4,5648,5085,563,2007
712,WV,4,2409,2147,262,2007
713,WY,1,537,397,140,2007

## Census API for loop

In [10]:
#from census import Census
#from us import states

#c = Census('API Key')

#census_df = c.acs.get(('NAME', 'B01001_001E'), {'for': 'state:*'}, year=2009)
#census_df = pd.DataFrame(census_df)
#census_df = census_df.rename(columns={'B01001_001E':'2009'}).drop(columns='state')

#loop_df = pd.DataFrame()
#loop_dict = {}
#for i in range(2010,2021):
#    loop_dict = c.acs.get(('NAME', 'B01001_001E'), {'for': 'state:*'}, year=i)
#    loop_df = pd.DataFrame(loop_dict)
#    loop_df = loop_df.rename(columns={'B01001_001E':str(i)}).drop(columns ='state')
#    loop_df = loop_df.loc[loop_df.NAME != 'Puerto Rico'].reset_index(drop=True)
#    census_df = census_df.merge(loop_df, on = 'NAME')

#census_df.head()

In [11]:
#census_df.to_excel('census_data.xlsx', sheet_name = 'census')

In [12]:
census_df = pd.read_excel('../Data/census_data.xlsx')
census_df.drop(columns='Unnamed: 0', inplace = True)
census_df.rename(columns = {'NAME':'State'}, inplace = True)
census_df.head()

,State,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alaska,683142,691189,700703,711139,720316,728300,733375,736855,738565,738516,737068,736990
1,Alabama,4633360,4712651,4747424,4777326,4799277,4817678,4830620,4841164,4850771,4864680,4876250,4893186
2,Arkansas,2838143,2872684,2895928,2916372,2933369,2947036,2958208,2968472,2977944,2990671,2999370,3011873
3,Arizona,6324865,6246816,6337373,6410979,6479703,6561516,6641928,6728577,6809946,6946685,7050299,7174064
4,California,36308527,36637290,36969200,37325068,37659181,38066920,38421464,38654206,38982847,39148760,39283497,39346023

## For loop for percent of homeless overall

In [13]:
test = []
test1 = []
test2 = []
test3 = []
test4 = []
test5 = []
test6 = []
for i in range(2009,2021):
    test.append((overall_statepop['Overall Homeless'].loc[overall_statepop['Year'] == i].sum() / census_df[str(i)].sum()) * 100)
    test1.append(i)
    test2.append(((overall_statepop['Sheltered Total Homeless'].loc[overall_statepop['Year'] == i].sum() / overall_statepop['Overall Homeless'].loc[overall_statepop['Year'] == i].sum()) * 100))
    test3.append(((overall_statepop['Unsheltered Total Homeless'].loc[overall_statepop['Year'] == i].sum() / overall_statepop['Overall Homeless'].loc[overall_statepop['Year'] == i].sum()) * 100))
    test4.append(((state_category['Overall Homeless Veterans'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))
    test5.append(((state_category['Overall Homeless Youth'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))
    test6.append(((state_category['Overall Homeless People in Families'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))
year_perc = pd.DataFrame()
year_perc['Year'] = test1
year_perc['Percent_Overall_Pop'] = test
year_perc['Sheltered_Perc'] = test2
year_perc['Unsheltered_Perc'] = test3
year_perc['Veteran_Perc'] = test4
year_perc['Youth_Perc'] = test5
year_perc['Families_Perc'] = test6
year_perc

C:\Users\kylem\AppData\Local\Temp/ipykernel_18104/754200846.py:13: RuntimeWarning: invalid value encountered in longlong_scalars
  test4.append(((state_category['Overall Homeless Veterans'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))
C:\Users\kylem\AppData\Local\Temp/ipykernel_18104/754200846.py:14: RuntimeWarning: invalid value encountered in longlong_scalars
  test5.append(((state_category['Overall Homeless Youth'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))
C:\Users\kylem\AppData\Local\Temp/ipykernel_18104/754200846.py:15: RuntimeWarning: invalid value encountered in longlong_scalars
  test6.append(((state_category['Overall Homeless People in Families'].loc[state_category['Year'] == i].sum() / state_category['Overall Homeless'].loc[state_category['Year'] == i].sum()) * 100))

,Year,Percent_Overall_Pop,Sheltered_Perc,Unsheltered_Perc,Veteran_Perc,Youth_Perc,Families_Perc
0,2009,0.207190,64.317369,35.682631,NaN,NaN,NaN
1,2010,0.207526,63.706591,36.293409,NaN,NaN,NaN
2,2011,0.201762,63.193833,36.806167,NaN,NaN,NaN
3,2012,0.199443,63.013903,36.986097,NaN,NaN,NaN
4,2013,0.187613,67.247294,32.752706,NaN,NaN,NaN
5,2014,0.181630,70.013006,29.986994,NaN,NaN,NaN
6,2015,0.176476,69.793384,30.206616,8.504529,6.572999,36.645882
7,2016,0.170796,68.380801,31.619199,7.218003,6.526198,35.510326
8,2017,0.169956,65.925846,34.074154,7.309656,6.994937,33.527383
9,2018,0.169482,65.300294,34.699706,6.899412,6.622763,32.662298
10,2019,0.173141,63.248687,36.751313,6.573471,6.219850,30.145824
11,2020,0.176292,61.428591,38.571409,6.447820,5.930549,29.524556

## Calculating beds per homeless overall

In [14]:
beds_pop = pd.merge(overall_statepop, state_beds)
beds_pop['Beds_Per_Homeless'] = beds_pop['Total Year-Round Beds'] / beds_pop['Overall Homeless']
beds_pop

,State,Number of CoCs,Overall Homeless,Sheltered Total Homeless,Unsheltered Total Homeless,Year,Total Year-Round Beds,Total Beds for Households with Children,Total Beds for Households without Children,Dedicated Veteran Beds,Dedicated Youth Beds,Beds_Per_Homeless
0,AK,2,1949,1725,224,2020,1885,722,1141,14,151,0.967163
1,AL,8,3351,2052,1299,2020,2913,1134,1736,185,117,0.869293
2,AR,4,2366,1093,1273,2020,1686,617,1069,93,41,0.712595
3,AZ,3,10979,5458,5521,2020,6079,2876,3170,562,206,0.553693
4,CA,44,161548,47888,113660,2020,53265,23569,29515,3043,2764,0.329716
...,...,...,...,...,...,...,...,...,...,...,...,...
709,VT,2,1035,720,315,2007,879,438,441,0,0,0.849275
710,WA,8,23379,16857,6522,2007,17587,10846,6741,0,0,0.752256
711,WI,4,5648,5085,563,2007,6255,3954,2301,0,0,1.107472
712,WV,4,2409,2147,262,2007,1915,622,1293,0,0,0.794936
713,WY,1,537,397,140,2007,729,315,414,0,0,1.357542

## Calculating beds per homeless categories by state

In [15]:
beds_per_category = pd.merge(state_category, state_beds)
beds_per_category['Beds_Veteran'] = beds_per_category['Dedicated Veteran Beds'] / beds_per_category['Overall Homeless Veterans']
beds_per_category['Beds_Youth'] = beds_per_category['Dedicated Youth Beds'] / beds_per_category['Overall Homeless Veterans']
beds_per_category['Beds_Families'] = beds_per_category['Total Beds for Households with Children'] / beds_per_category['Overall Homeless Veterans']
beds_per_category['Beds_Families_NoKids'] = beds_per_category['Total Beds for Households without Children'] / beds_per_category['Overall Homeless Veterans']
beds_per_category

,State,Number of CoCs,Overall Homeless,Sheltered Total Homeless,Unsheltered Total Homeless,Overall Homeless Veterans,Sheltered Homeless Veterans,Unsheltered Homeless Veterans,Overall Homeless Youth,Sheltered Homeless Youth,...,Year,Total Year-Round Beds,Total Beds for Households with Children,Total Beds for Households without Children,Dedicated Veteran Beds,Dedicated Youth Beds,Beds_Veteran,Beds_Youth,Beds_Families,Beds_Families_NoKids
0,AK,2,1949,1725,224,94,82,12,188,182,...,2020,1885,722,1141,14,151,0.148936,1.606383,7.680851,12.138298
1,AL,8,3351,2052,1299,329,231,98,175,103,...,2020,2913,1134,1736,185,117,0.562310,0.355623,3.446809,5.276596
2,AR,4,2366,1093,1273,188,107,81,262,88,...,2020,1686,617,1069,93,41,0.494681,0.218085,3.281915,5.686170
3,AZ,3,10979,5458,5521,921,579,342,633,241,...,2020,6079,2876,3170,562,206,0.610206,0.223670,3.122693,3.441911
4,CA,44,161548,47888,113660,11401,3405,7996,12172,2662,...,2020,53265,23569,29515,3043,2764,0.266906,0.242435,2.067275,2.588808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,VT,2,1523,1373,150,119,113,6,101,87,...,2015,903,332,571,0,0,0.000000,0.000000,2.789916,4.798319
302,WA,7,19419,12298,7121,1293,886,407,1341,700,...,2015,14476,8086,6200,0,0,0.000000,0.000000,6.253674,4.795050
303,WI,4,6057,5615,442,534,515,19,334,287,...,2015,6703,3930,2715,0,0,0.000000,0.000000,7.359551,5.084270
304,WV,4,1835,1403,432,305,227,78,145,103,...,2015,1815,665,1140,0,0,0.000000,0.000000,2.180328,3.737705
305,WY,1,798,507,291,112,83,29,37,26,...,2015,853,433,419,0,0,0.000000,0.000000,3.866071,3.741071

## Calculating beds per homeless categories by Continuum of Cares

In [16]:
coc_merge = pd.merge(coc_category, coc_beds)
coc_merge['Beds_Veteran'] = coc_merge['Dedicated Veteran Beds'] / coc_merge['Overall Homeless Veterans']
coc_merge['Beds_Youth'] = coc_merge['Dedicated Youth Beds'] / coc_merge['Overall Homeless Veterans']
coc_merge['Beds_Families'] = coc_merge['Total Beds for Households with Children'] / coc_merge['Overall Homeless Veterans']
coc_merge['Beds_Families_NoKids'] = coc_merge['Total Beds for Households without Children'] / coc_merge['Overall Homeless Veterans']
coc_merge['Peds_Per_Homeless'] = coc_merge['Total Year-Round Beds'] / coc_merge['Overall Homeless']
coc_merge['State'] = coc_merge['CoC Number'].str.extract(r'(^[A-Z]{2})')
coc_merge

,CoC Number,CoC Name,Overall Homeless,Sheltered Total Homeless,Unsheltered Total Homeless,Overall Homeless Veterans,Sheltered Homeless Veterans,Unsheltered Homeless Veterans,Overall Homeless Youth,Sheltered Homeless Youth,...,Total Beds for Households with Children,Total Beds for Households without Children,Dedicated Veteran Beds,Dedicated Youth Beds,Beds_Veteran,Beds_Youth,Beds_Families,Beds_Families_NoKids,Peds_Per_Homeless,State
0,AK-500,Anchorage CoC,1058,1003,55,42,40,2,122,122,...,311,598,0,111,0.000000,2.642857,7.404762,14.238095,0.869565,AK
1,AK-501,Alaska Balance of State CoC,891,722,169,52,42,10,66,60,...,411,543,14,40,0.269231,0.769231,7.903846,10.442308,1.083053,AK
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",848,601,247,120,98,22,48,34,...,282,594,98,42,0.816667,0.350000,2.350000,4.950000,1.047170,AL
3,AL-501,Mobile City & County/Baldwin County CoC,631,267,364,66,42,24,15,5,...,214,182,38,0,0.575758,0.000000,3.242424,2.757576,0.627575,AL
4,AL-502,Florence/Northwest Alabama CoC,215,174,41,13,8,5,6,6,...,109,160,4,16,0.307692,1.230769,8.384615,12.307692,1.325581,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,WV-500,"Wheeling, Weirton Area CoC",114,95,19,9,7,2,8,6,...,62,45,0,0,0.000000,0.000000,6.888889,5.000000,0.938596,WV
2308,WV-501,"Huntington/Cabell, Wayne Counties CoC",227,205,22,13,4,9,8,7,...,128,133,0,0,0.000000,0.000000,9.846154,10.230769,1.149780,WV
2309,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",385,341,44,37,33,4,51,41,...,100,321,0,0,0.000000,0.000000,2.702703,8.675676,1.119481,WV
2310,WV-508,West Virginia Balance of State CoC,1109,762,347,246,183,63,78,49,...,375,641,0,0,0.000000,0.000000,1.524390,2.605691,0.916141,WV
2311,WY-500,Wyoming Statewide CoC,798,507,291,112,83,29,37,26,...,433,419,0,0,0.000000,0.000000,3.866071,3.741071,1.068922,WY

## Exported all cleaned/aggregated dataframes to Excel

In [17]:
#beds_pop.to_excel('beds_pop.xlsx', sheet_name = 'overall')
#beds_per_category.to_excel('beds_per_category.xlsx', sheet_name = 'beds_category')
#coc_merge.to_excel('coc_merge.xlsx', sheet_name = 'coc_data')
#year_perc.to_excel('year_percent.xlsx', sheet_name = 'percentages')

In [18]:
#geo_coc = gpd.read_file('../Data/CoC_GIS_National_Boundary_2020/FY20_CoC_National_Bnd.gdb')
#geo_coc

In [19]:
#geo_coc.to_excel('geo_coc.xlsx', sheet_name = 'geo')